@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    
}

.btn-primary {
    background-color: rgb(85, 121, 194);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(85, 121, 194);
    opacity: 0.8;
}
/* section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

div{
    background-color: rgb(255, 105, 105);
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
 */

header {
    background-color: beige;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 10px 30px;
    box-shadow: 0 10px 20px rgba(128, 128, 128, 0.383);
}

header nav ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(85, 121, 194);
    text-transform: uppercase;
    font-weight: 600;
}

header nav ul .lista {
    position: relative;
}

header nav ul .lista .submenu {
    display: none;
    position: absolute;
    top: 20px;
    left: -10px;
    padding: 10px;
    width: 180px;
    background-color: rgba(245, 245, 220, 0.837);
}

header nav ul li:hover .submenu {
    display: block;
}

header nav ul .lista .submenu li {
    margin-bottom: 5px;
}

header #menu-hamburguesa {
    display: none;
}

main {
    height: 80vh;
}

main section div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section {
    height: 100%;
}


.grilla {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;
    justify-content: center;
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
    ;
    gap: 10px;
}

.contenedor-1 {
    grid-area: area1;
}

.contenedor-2 {
    grid-area: area2;
}

.contenedor-3 {
    grid-area: area3;
}

.contenedor-4 {
    grid-area: area4;
}

.contenedor-5 {
    grid-area: area5;
}

.contenedor-6 {
    grid-area: area6;
}

#section {
    height: 100vh;

}



footer {
    background-color: black;
    color: white;
    padding: 10px;
}

/*Hasta = max-width*/
/*Tablet 768px a 991px*/
@media (max-width: 991px) {
    header #menu-hamburguesa {
        display: block;
    }

    header nav {
        display: none;
    }

    .grilla {
        grid-template-columns: 250px 250px;
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:
            "area1 area2" 
            "area3 area4"
            "area5 area6"
        ;
    }

    main {
        height: 100%;
        padding: 30px 0;
    }
}

/*Celular 320px a 480px*/
@media (max-width: 480px) {
    .grilla {
        grid-template-columns: 250px;
        grid-template-rows: repeat(6, 1fr );
        grid-template-areas:
            "area1" 
            "area2" 
            "area3" 
            "area4"
            "area5"
            "area6";
    }
}

.layout {
    display: flex;
    gap: 20px;

}

.sidebar {
    width: 200px;
    background-color: #222;
    color: white;
    padding: 15px;
    justify-items: center;

}

.sidebar ul {
    list-style: none;
    padding: 0;

}

@media (max-width: 991px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}




/*Desde = min-width*/
/*Mobil first*/
/*Tablet
@media (min-width: 576px){

}

/*Desktop
@media (min-width: 992px){
    
}*/