.card {
    transition: all 0.3s ease;
    border-radius: 12px;
    overflow: hidden;

    &:hover {
        transform: translateY(-8px) scale(1.03);
        box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);
    }
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1);
    
}
